*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFliTey5RPsvFMOli35T73dbRbGBpMozGMzw&usqp=CAU") ;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.banner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #000;
    background-color:rgba(128, 212, 170, 0.548); 
    display: flex;
}

.banner-content{
    margin: 0;
    padding: 0;
    margin-top: 150px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 30px;
    height: 395px;
    
}

.banner-content h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px ;
    font-size: 45px ;
    text-align: center;
}

.banner-content p{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    color: black;
    padding-top: 1em;
    padding-bottom: 0px ;
    
}

.btnBox{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.btn{
    border: 3px solid rgb(249, 250, 249); 
    border-radius: 10px;
    
}

.readMore{
   
    display: inline-block;
    font-size: 1.2rem;
    padding: .3em 1.4em;
    text-decoration: none;
    transition: all .3s ease-in-out ;
    color: black;
    
}

.btnBox a:hover{
    background-color:white;
    color: black;
    border-radius: 9px;
}


.rosel{
    margin-top: 150px;
    margin-right: 30px;
    margin-left:30px;
    height: 395px;
    width: 1000px;
    
}

.Carousel{
    height: 100%;
}

.Item img {
   height:400px;
}



@media only screen and (max-width:1280px){
    .banner{
        flex-direction: column; 
        margin: 0;
        padding: 0;
    }
    .banner-content{
        margin-top: 30px;
        margin-right: 50px;
        margin-left: 50px;
        
    }

    .banner-content h1{
        font-size: 2.6rem;
    }

    .banner-content p{
        font-size: 25px;
        padding-bottom: 10px ;
        font-size: 28px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .rosel{
        margin-bottom: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-left: 50px; 
        width: 1180px;
       
    }

    .Carousel{
        margin: 0;
        padding: 0;
        height: 270px;
       
    }

    .Item{
        width: 1221px;
        height: 270px;
    }

    .Item img{
        width: 1221px;
        height: 270px;
    }

}

@media only screen and (max-width:1024px){
    .banner{
        flex-direction: column; 
        margin: 0;
        padding: 0;
    }
    .banner-content{
        margin-top: 30px;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: -10px;
    }

    .banner-content h1{
        font-size: 2.6rem;
    }

    .banner-content p{
        padding-bottom: 10px ;
        font-size: 18px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .rosel{
        
        margin-right: 40px;
        margin-top: 20px;
        margin-left: 40px; 
        
    }

    .Carousel{
        width: 944px;
        height: 100%;
        
    }

    .Item{
        width: 100%;
        height: 170px;
    }

    .Item img{
        width: 100%;
        height: 100%;
    }

}

@media only screen and (max-width:912px){
    .banner{
        flex-direction: column; 
        margin: 0;
        padding: 0;
    }
    .banner-content{
        margin-top: 100px;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: -10px;
        
    }

    .banner-content h1{
        font-size: 3rem;
    }

    .banner-content p{
        font-size: 30px;
        padding: 0;
        margin: 0;
       
    }

    .rosel{
        
        margin-right: 40px;
        margin-top: 100px;
        margin-left: 40px; 
        height: 500px;
        
    }

    .Carousel{
        width: 833px;
        height: 100%;
        
    }

    .Item{
        width: 100%;
        height: 100%;
    }

    .Item img{
        width: 100%;
        height: 100%;
    }

}

@media only screen and (max-width:820px) {
    .contenedor{
         transition: all .1s ease-in-out;
         background-image: url("https://www.xtrafondos.com/wallpapers/resized/cachorro-y-gatito-7792.jpg?s=large");
         animation: contenedor 20s infinite linear ;
         
    }
    .banner{
        flex-direction: column;
        margin: 0;
        padding: 0;

    }
    .banner-content{
        margin-top: 450px;
        margin-right: 30px;
        margin-left: 30px;
        
    }

    .banner-content h1{
        font-size: 3.5rem;
    }

    @keyframes contenedor{
        0%{
            background-image: url("https://media.gettyimages.com/photos/typical-venezula-snack-stuffed-arepa-with-mushrooms-smoked-chicken-picture-id1207746935?k=20&m=1207746935&s=612x612&w=0&h=G-phtq5JcT6gnHPRWSwCiMcagj0Nr1Qmmlo1n2HwrW8=");
        }
        25%{
            background-image: url("https://media.gettyimages.com/photos/typical-venezula-snack-stuffed-arepa-with-mushrooms-smoked-chicken-picture-id1207746935?k=20&m=1207746935&s=612x612&w=0&h=G-phtq5JcT6gnHPRWSwCiMcagj0Nr1Qmmlo1n2HwrW8=");
        }
    
        26%{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREwu_TLxnCdyWQ9L0QMQlDvpsFzx0mL2oK5g&usqp=CAU");
        }
        50%{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREwu_TLxnCdyWQ9L0QMQlDvpsFzx0mL2oK5g&usqp=CAU");
        }
    
        51%{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_g4rkF6rkaIA7yJJpNRxdDS4I_TPL3JxM-5rU93x0RzTognbXWjalN8ChfFgr_uA-WDk&usqp=CAU");
        }
        75%{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_g4rkF6rkaIA7yJJpNRxdDS4I_TPL3JxM-5rU93x0RzTognbXWjalN8ChfFgr_uA-WDk&usqp=CAU");
        }
    
        76%{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9L2ZfDAPmr4qippDcrDYzc2ndjjZoO06FNw&usqp=CAU");
        }
        100%{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9L2ZfDAPmr4qippDcrDYzc2ndjjZoO06FNw&usqp=CAU");
        }
    }

    .banner-content p{
        display: none;
    }

    .rosel{
        display: none;
    }


}

@media only screen and (max-width: 540px){
    .banner{
        align-items: center; 
    }

    .banner-content{
        margin-top: 260px;
    }

    .banner-content h1{
        font-size: 3rem;
    }

}

@media only screen and (max-width: 412px){
    .banner{
        flex-direction: column; 
        margin: 0;
        padding: 0;
    }

    .banner-content{
        margin-top: 290px;
        margin-right: 30px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .banner-content h1{
        font-size: 2rem;
    }

}