.card-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 30px 0;
    color: #161515;
    
  }
  

  .card {
    background: rgba(250, 247, 247, 0.979);
    transition: ease 0.3s;
    border-radius: 10px;
  }
  
  .card:hover {
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.336);
    transform: translateY(10px);
  }
  
  .card > img {
    border-radius: 10px 10px 0 0;
  }
  
  .cont-btn {
    display: flex;
    justify-content: center;
  }
  
  .boton {
    background: #215f00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e4e4d9, #215f00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: none;
    transition: 0.3s ease;
  }
  
  .boton:hover {
    background: #797878da;
    color:black;
    border: none;
  }